.messages-page {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pvp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, rgb(69, 9, 74), rgb(0, 0, 0));
}

.pvp-title {
  font-size: 50px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  font-family: "Rye";
  margin: 0 auto;
}

.coming-soon-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon-text {
  font-size: 36px;
  font-family: "Anybody";
  color: #222;
  text-align: center;
}